{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true
    },
    "baseUrl": "./src",
    "paths": {
      "@/*": ["*"],
      "@middlewares/*": ["middlewares/*"],
      "@controllers/*": ["controllers/*"],
      "@services/*": ["services/*"],
      "@utils/*": ["utils/*"],
      "@interfaces/*": ["interfaces/*"],
      "@database/*": ["database/*"],
      "@config/*": ["config/*"]
    },
    "target": "es2020",
    "loose": false,
    "externalHelpers": false
  },
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": true,
  "exclude": [
    "node_modules",
    "dist"
  ]
}
